<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test">
  <parameter name="browserName" value="chrome"></parameter>
    <classes>
          <class name="com.sauceDemo.TestPackage.TC01VerifyLoginFunctionality"/>
          <class name="com.sauceDemo.TestPackage.TC02VerifyLogoutFuctinality"/>
      <class name="com.sauceDemo.TestPackage.TC03VerifyBagProductAddToCartFunctionality"/>
      <class name="com.sauceDemo.TestPackage.TC04VerifyallAddToCartButtonFunctionality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
